* {
    margin: 0%;
    padding: 0%;
}

.wrapper_top{
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(155, 99, 205);
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

h1{
    color: rgb(255, 255, 255);
    font-size: 2.4rem;
    text-shadow:2px 2px #ff0095;
}

.video video{
    border: 2px solid rgb(149, 0, 255);
    border-radius: 25px;
    box-shadow: 10px 5px rgb(130, 19, 132);
    pointer-events: none;
}